h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  text-indent: 10px;
}

caption {
	font-size:18px;
	font-style:italic;
	}

div.blue {
	background-color:#e6f0ff; border-radius: 5px; padding: 20px;
	}

div.green { background-color:#DAF7A6; border-radius: 5px; padding: 20px;}

blockquote {
  font-size: 14px;
  color: gray;
}